<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8"><title>Good_APP</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: green">
 <div class="login"><h2> API for Fever Detection</h2>
    <form action="{{ url_for('predict')}}"method="post">
    <input type="text" name="feat1"   placeholder="Post"  required="required" >
    <input type="text" name="feat2"     required="required" >
    <input type="text" name="feat3"   required="required" />
    <input type="text" name="feat4"   required="required" />
    <input type="text" name="feat5"  required="required" />
    <input type="text" name="feat6"   required="required" />
    <input type="text" name="feat7"   required="required" />
    <input type="text" name="feat8"   required="required" /><br>
 <button type="submit" class="btn btn-primary btn-block btn-large"> RUN A FEVER TEST NOW</button>
</form><br>
   {{prediction_level}}
</div></body>
</html>